/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.guten-express-header-style-selector {

	[type=radio] {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
	}

	[type=radio]+img {
		cursor: pointer;
	}

	[type=radio]:checked+img {
		outline: 2px solid rgb(0, 132, 255);
	}

}

.wp-block-guten-express-featured-posts {

	.featured-posts-header-alternate {
		display: flex;
		flex-direction: column-reverse;
	}

	.featured-posts-header-with-overlay {
		position: relative;
		width: fit-content;
		min-width: 100%;

		h3 {
			position: absolute;
			z-index: 3;
			color: white;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 4%;
		}

		img {
			height: inherit;
		}

		.overlay {
			position: absolute;
			z-index: 2;
			background-color: rgba(0, 0, 0, 0.521);
			height: 100%;

			width: 100%;

		}
	}

	.featured-posts-header-no-image {
		position: initial;
	}

	.featured-posts-grid-top {
		display: grid;
		grid-template-columns: auto auto;
	}

	.featured-posts-container {
		display: grid;

		.featured-posts-grid {
			padding: 1vw;
		}

	}

	.grid-one {
		grid-template-columns: auto;
	}

	.grid-twobyone {
		grid-template-columns: auto auto;
	}

	.grid-threebyone {
		grid-template-columns: auto auto auto;
	}

	.grid-twobytwo {
		grid-template-columns: auto auto;
	}

	.grid-fourbyone {
		grid-template-columns: auto auto auto auto;
	}
}
