/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-guten-express-featured-posts {
	a {
		text-decoration: none;
		transition: all 0.5s ease-in;
		outline: none;
	}

	.featured-posts-header-alternate {
		display: flex;
		flex-direction: column-reverse;
	}

	.featured-posts-header-with-overlay {
		position: relative;
		width: fit-content;
		min-width: 100%;

		h3 {
			position: absolute;
			z-index: 3;
			color: white;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 4%;

			a {
				color: white;

			}
		}

		img {
			height: inherit;
		}

		.overlay {
			position: absolute;
			z-index: 2;
			background-color: rgba(0, 0, 0, 0.521);
			height: 100%;

			width: 100%;

		}
	}

	.featured-posts-container {
		display: grid;

		.featured-posts-grid {
			padding: 1vw;
		}

	}

	.grid-one {
		grid-template-columns: auto;
	}

	.grid-twobyone {
		grid-template-columns: auto auto;
	}

	.grid-threebyone {
		grid-template-columns: auto auto auto;
	}

	.grid-twobytwo {
		grid-template-columns: auto auto;
	}

	.grid-fourbyone {
		grid-template-columns: auto auto auto auto;
	}
}
