.wp-block-guten-express-flip-card {



	.box-item {
		position: relative;
		width: 100%;
		max-width: 100%;
		flex-direction: column;


		.flip-box {
			transform-style: preserve-3d;
			perspective: 1000px;
			// height: max-content;

			.flip-box-front,
			.flip-box-back {
				padding: 5%;
				background-size: cover;
				background-position: center;
				border-radius: 8px;
				min-height: 350px;
				transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
				backface-visibility: hidden;
			}

			.flip-box-front {
				transform: rotateY(0deg);
				transform-style: preserve-3d;
			}

			.flip-box-back {
				position: absolute;
				top: 0;
				width: 100%;
				transform: rotateY(180deg);
				transform-style: preserve-3d;
			}

			.inner {
				width: 100%;
				padding: 5%;
				height: max-content;
				perspective: inherit;
				z-index: 2;
				transform: translateZ(70px) scale(.94);
			}

			&:hover {
				.flip-box-front {
					transform: rotateY(-180deg);
					transform-style: preserve-3d;
				}

				.flip-box-back {
					transform: rotateY(0deg);
					transform-style: preserve-3d;
				}
			}
		}

		.flip-box-vertical {
			transform-style: preserve-3d;
			perspective: 1000px;

			.flip-box-front,
			.flip-box-back {
				padding: 5%;
				background-size: cover;
				background-position: center;
				border-radius: 8px;
				min-height: 350px;
				height: 100%;
				transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
				backface-visibility: hidden;
			}

			.flip-box-front {
				transform: rotateX(0deg);
				transform-style: preserve-3d;
			}

			.flip-box-back {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				transform: rotateX(180deg);
				transform-style: preserve-3d;
			}

			.inner {
				width: 100%;
				padding: 5%;
				height: max-content;
				perspective: inherit;
				z-index: 2;
				transform: translateZ(70px) scale(.94);
			}

			&:hover {
				.flip-box-front {
					transform: rotateX(-180deg);
					transform-style: preserve-3d;
				}

				.flip-box-back {
					transform: rotateX(0deg);
					transform-style: preserve-3d;
				}
			}
		}

		.no-flip-box {
			transform-style: preserve-3d;
			perspective: 1000px;

			.flip-box-front,
			.flip-box-back {
				padding: 5%;
				background-size: cover;
				background-position: center;
				border-radius: 8px;
				min-height: 350px;
				transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
				backface-visibility: hidden;
			}

			.flip-box-front {
				transform: rotateY(0deg);
				transform-style: preserve-3d;
			}

			.flip-box-back {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				transform: rotateY(180deg);
				transform-style: preserve-3d;
			}

			.inner {
				width: 100%;
				padding: 5%;
				height: fit-content;
				perspective: inherit;
				z-index: 2;
				transform: translateZ(70px) scale(.94);
			}
		}

		.show-back {
			.flip-box-front {
				transform: rotateY(-180deg);
				transform-style: preserve-3d;
			}

			.flip-box-back {
				transform: rotateY(0deg);
				transform-style: preserve-3d;
			}
		}

	}
}
