.block-editor-block-list__block-popover {
	.components-toggle-control {
		.components-base-control__field {
			margin-bottom: 0 !important;
		}
	}
}

.wp-block-guten-express-horizontal-slider {
	.horizontal-scroll-wrapper {
		.slick-slide {
			padding: 1%;
		}

		.slick-arrows {
			font-size: 0;
			line-height: 0;
			position: absolute;
			top: 50%;
			display: block;
			width: 20px;
			height: 20px;
			padding: 0;
			transform: translate(0, -50%);
			cursor: pointer;
			color: transparent;
			border: none;
			outline: 0;
			background: 0 0;
		}

		.slick-dots {
			margin: 0 !important;
			padding: 0 !important;
		}

		.slick-initialized,
		.slick-slider {
			pointer-events: none;
		}

		.slick-arrows-prev {
			left: -24px;
		}

		.slick-arrows-next {
			right: -25px;
		}


		border-bottom: rgb(61, 61, 61);
		border-bottom-style: solid;
	}
}
