.wp-block-guten-express-horizontal-slider {
	.horizontal-scroll-wrapper-save {
		.slick-slide {
			padding: 1%;
		}

		.slick-arrows {
			font-size: 0;
			line-height: 0;
			position: absolute;
			top: 50%;
			display: block;
			width: 20px;
			height: 20px;
			padding: 0;
			transform: translate(0, -50%);
			cursor: pointer;
			color: transparent;
			border: none;
			outline: 0;
			background: 0 0;
		}

		.slick-arrows-prev {
			left: -24px;
		}

		.slick-arrows-next {
			right: -25px;
		}

		button.slick-prev,
		button.slick-next {
			background: none !important;
		}

		ul.slick-dots {
			* {
				background: none !important;
			}
		}
	}




}
